@font-face {
  font-family: "khur";
  src: url("./fonts/Mona-Sans.ttf"), url("./fonts/Mona-Sans.otf"),
    url("./fonts/Mona-Sans.woff"), url("./fonts/Mona-Sans.woff2");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "khur";
}
html,
body {
  width: 100%;
  height: 100%;
}

main {
  position: relative;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.5vw 10vw;
  text-transform: capitalize;
  font-weight: 500;
  color: #fff;
  z-index: 999;
}
nav img {
  display: none;
}

nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  align-items: center;
}
nav ul li {
  font-size: 0.8vw;
  font-weight: 500;
  text-align: center;
}

header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.header_img {
  width: 100%;
  height: 100%;
}

.header_img img {
  width: 100%;
  height: 100%;
  background-position: center;
  object-fit: cover;
  position: relative;
}

#header_text {
  position: absolute;
  top: 35%;
  padding: 0 10vw;
  color: #fff;
}

#header_text h4 {
  font-size: 0.9vw;
  font-weight: 600;
  display: inline-block;
  display: flex;
  align-items: center;
  gap: 15px;
}
#line-x {
  display: inline-block;
  height: 1.4px;
  width: 50px;
  background: #ffe345;
}
#header_text h1 {
  font-size: 5vw;
  font-weight: 500;
}
#header_text h2 {
  font-size: 5vw;
  font-weight: 700;
}
#header_text h2 span {
  color: #ffe345;
}

#join_our_team {
  outline: none !important;
  border: none;
  padding: 1vw 2vw;
  background: #ffe345;
  border-radius: 50px;
  font-size: 0.8vw;
  margin-top: 1vw;
}

#header_footer {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 10vw;
  top: 80%;
}
#pause {
  width: 1.5vw;
  height: 1.5vw;
  color: #fff;
}
#scroll_down {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5vw;
}
#scroll_down h4 {
  rotate: 90deg;
}
#line-y {
  width: 104px;
  height: 2px;
  display: inline-block;
  background: #ffe345;
  margin-left: 0.5vw;
}

.section_2 {
  /* background: red; */
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  padding-top: 5vw;
}

#section_2_patr_1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
#section_2_patr_1 h4 {
  font-size: 0.7vw;
}
#section_2_patr_1 h1 {
  font-size: 2vw;
  margin-top: 10px;
}
#section_2_patr_2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#wrapers_brand {
  /* background: red; */
  width: 20vw;
  margin-top: 1vw;
  padding-block: 10px;
  white-space: nowrap;
  overflow: hidden;
  mask: linear-gradient(90deg, transparent, white 10%, white 90%, transparent);
}
#brands_1 {
  padding: 0;
  display: inline-block;
  animation: scrollBrand 15s linear infinite;
}

#section_2_patr_2 #wrapers_brand #brands_1 img {
  width: 5vw;
  aspect-ratio: 3/2;
  object-fit: contain;
  background-color: #e2dede5d;
  margin-left: 1vw;
}

#wrapers_brand_2 {
  /* background: red; */
  width: 35vw;
  margin-top: 1vw;
  padding-block: 10px;
  white-space: nowrap;
  overflow: hidden;
  mask: linear-gradient(90deg, transparent, white 10%, white 90%, transparent);
}

#brands_2 {
  padding: 0;
  display: inline-block;
  animation: scrollBrand2 30s linear infinite;
}

#section_2_patr_2 #wrapers_brand_2 #brands_2 img {
  width: 5vw;
  aspect-ratio: 3/2;
  object-fit: contain;
  background-color: #e2dede5d;
  margin-left: 1vw;
}

@keyframes scrollBrand {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 4px));
  }
}
@keyframes scrollBrand2 {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 4px));
  }
}

#section_2_patr_2 #brands_1 #amazon {
  padding-top: 8px;
}

#section_2_patr_3 {
  /* background-color: #ffe345; */
  padding: 0 10vw;
  position: relative;
}
#section_2_patr_3 h4 {
  text-transform: uppercase;
  font-size: 0.6vw;
  margin-bottom: 1vw;
  margin-top: 4vw;
}
#section_2_patr_3 h1 {
  text-transform: uppercase;
  font-size: 1.6vw;
  margin-bottom: 1vw;
}
#section_2_patr_3 p {
  text-transform: uppercase;
  width: 100%;
  font-size: 0.5vw;
  margin-bottom: 1vw;
}
#section_2_patr_3 > div {
  display: flex;
}
#view_more {
  border: none;
  padding: 0.8vw 1.5vw;
  border-radius: 50px;
  text-wrap: nowrap;
  background-color: #ffe345;
  font-size: 0.8vw;
}
.section_3 {
  max-width: 100%;
  height: 22vw;
  overflow-y: hidden;
  overflow-x: auto;
  position: relative;
  padding: 10px 0;
  /* background: red; */
}
.section_3::-webkit-scrollbar {
  display: none;
}

/* -------------------- */

.scroller {
  white-space: nowrap;
  width: 100%;
  mask: linear-gradient(90deg, transparent, white 10%, white 90%, transparent);
}
.section_3_part {
  display: flex;
  flex-wrap: nowrap;
}

.scroller #card {
  display: inline-block;
  margin-right: 20px;
  animation: scroll 4s infinite linear;
}

@keyframes scroll {
  to {
    transform: translate(0);
  }
  from {
    transform: translate(calc(-100% - 4px));
  }
}

/* ------------- */
#card {
  width: 14vw;
  height: 21vw;
  border-radius: 13px;
  overflow: hidden;
  flex-shrink: 0;
  position: relative;
}
#card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}

#card_text {
  position: absolute;
  top: 70%;
  text-wrap: wrap;
  padding: 0 0.7vw;
  color: #fff;
}
#card_text p {
  font-size: 14px;
}
#card_text #book_now {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5vw;
}
#card_text #book_now button {
  padding: 9px 20px;
  border-radius: 50px;
  border: none;
  background-color: #ffe345;
}
.section_4 {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  padding: 5vw 10vw;
}
#section_4_part_1 {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
#section_4_part_1 #part_1 {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}
#section_4_part_1 #part_1 h4 {
  font-size: 0.7vw;
  text-transform: uppercase;
}
#section_4_part_1 #part_1 h1 {
  font-size: 2vw;
  text-transform: capitalize;
  margin-top: 1vw;
  margin-bottom: 1.3vw;
}
#section_4_part_1 #part_1 h2 {
  font-size: 1.2vw;
  margin-top: 1vw;
  margin-bottom: 1.3vw;
  font-weight: 500;
  letter-spacing: 2px;
}
#section_4_part_1 #part_2 {
  width: 100%;
  height: 50%;
}

#section_4_part_1 #part_2 p {
  margin-bottom: 2vw;
}

#section_4_part_1 #part_2 #learn_book {
  margin-top: 5vw;
}
#section_4_part_1 #part_2 #learn_book button:nth-child(1) {
  padding: 13px 25px;
  border-radius: 50px;
  border: none;
  background-color: #ffe345;
  margin-right: 5px;
  text-transform: capitalize;
}
#section_4_part_1 #part_2 #learn_book button:nth-child(2) {
  padding: 13px 25px;
  border-radius: 50px;
  border: none;
  background-color: #ffffff;
  margin-right: 5px;
  box-shadow: 0px 0px 150px 10px rgba(0, 0, 0, 1);
  text-transform: capitalize;
}

#section_4_part_2 {
  width: 50%;
  height: 100%;
  /* background: rgb(29, 66, 29); */
}
#section_4_part_2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section_5 {
  width: 100%;
  height: 60vh;
  position: relative;
  padding: 10vw;
  /* background: red; */
}
.section_5 h4 {
  text-transform: uppercase;
  font-size: 0.7vw;
}
.section_5 h1 {
  font-size: 2.5vw;
  margin-top: 1.5vw;
  margin-bottom: 1.5vw;
}
.section_5 h3 {
  font-size: 0.9vw;
  font-weight: 500;
}
.section_5 button {
  position: absolute;
  padding: 13px 25px;
  border-radius: 50px;
  border: none;
  background-color: #ffe345;
  text-transform: capitalize;
  right: 10%;
  top: 60%;
}
.section_6 {
  width: 100%;
  height: 50vh;
}
#section_6_cards {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 1vw;
  overflow-y: hidden;
  overflow-x: auto;
}
#section_6_cards::-webkit-scrollbar {
  display: none;
}

#section_6_card {
  width: 28vw;
  height: 17vw;
  flex-shrink: 0;
}
#section_6_card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section_7 {
  width: 100%;
  height: 85vh;
}

#section_7_part_1 {
  width: 100%;
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}
#section_7_part_1 h4 {
  text-transform: uppercase;
  font-size: 0.7vw;
  margin-top: 5vw;
}
#section_7_part_1 h1 {
  font-size: 2.5vw;
}
#section_7_part_1_logos {
  height: 2vw;
  display: flex;
  align-items: end;
  justify-content: end;
  gap: 10px;
}
#section_7_part_1_logos img {
  width: 3vw;
  object-fit: cover;
}

#section_7_part_2 {
  width: 100%;
  height: calc(85vh - 20vh);
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  overflow: hidden;
  position: relative;
  background: rgb(147, 140, 140);
  background: linear-gradient(
    0deg,
    rgba(216, 216, 216, 0.466) 78%,
    rgba(255, 255, 255, 1) 10%
  );
}

#section_7_part_2_cards {
  width: 60%;
  height: 65%;
  position: relative;
  display: flex;
  justify-content: center;
  gap: 20px;
  z-index: 50;
  overflow-y: hidden;
}

.swiper_buttons_2 button {
  display: inline-block;
  bottom: 0;
  outline: none;
  border: none;
  background: transparent;
  padding: 1.5rem;
  height: 5rem;
  width: 5rem;
}
.swiper_buttons_2 button img {
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.562);
}

#section_7_part_2_card {
  width: 13rem;
  height: 15rem;
  background: #ffffff;
  border-radius: 5px;
  flex-shrink: 0;
  z-index: 99;
  margin-left: 1.5rem;
  margin-top: 5rem;
  filter: drop-shadow(0px -4px 20px #dddddd);
}
#section_7_part_2_card_s_1 {
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}
#section_7_part_2_card_s_1 img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
#section_7_part_2_card_s_1 span h4 {
  text-transform: capitalize;
}

#section_7_part_2_card_s_1 span h5 {
  color: #b3b3b3;
  font-weight: 500;
}
#section_7_part_2_card_s_2 {
  padding: 0 20px;
}
#section_7_part_2_card_s_2 h5 {
  letter-spacing: -3px;
}
#section_7_part_2_card_s_2 p {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 12px;
}
#section_7_part_2_card_s_2 img {
  width: 3vw;
  object-fit: cover;
}
.contact {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact form {
  width: 70%;
  height: 100%;
  background: rgb(239, 249, 255);
  padding-top: 5vw;
  padding-left: 10vw;
}
.contact form h4 {
  font-size: 12px;
  text-transform: uppercase;
}
.contact form h1 {
  font-size: 2vw;
  margin: 1vw 0;
}
.contact form p {
  font-size: 12px;
  color: #818080;
  width: 80%;
}

#input {
  /* background: rgba(219, 224, 233, 0.486); */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-right: 2vw;
  overflow: hidden;
}
label {
  display: block;
  margin-bottom: 10px;
}
#input_1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2vw;
  margin-top: 2vw;
}

input {
  padding: 15px 15px;
  width: 25vw;
  border-radius: 50px;
  outline: none;
  border: 1px solid #818080;
}
#input_2 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2vw;
}
#input_3 {
  margin-bottom: 2vw;
}
#input_3 textarea {
  width: 100%;
  height: 10vw;
  border-radius: 10px;
  padding: 10px;
}
#input button {
  font-size: 15px;
  font-weight: 600;
  padding: 15px;
  border-radius: 50px;
  border: none;
  background: #ffe345;
}

#contact_img {
  width: 30%;
  height: 100%;
}
#contact_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

footer {
  width: 100%;
  height: 50vh;
  background: #07070c;
  padding: 1vw 10vw;
  color: #fff;
}
.footer_s_1 {
  width: 100%;
  display: flex;
  margin-top: 3vw;
  justify-content: space-between;
}
#footer_part1 {
  width: 20vw;
}
#footer_part1 h1 {
  margin-bottom: 2vw;
  font-size: 1vw;
  font-weight: 500;
}
#footer_part2 {
  width: 10vw;
}
#footer_part2 h1 {
  margin-bottom: 2vw;
  font-size: 1vw;
  font-weight: 500;
}
#footer_part2 li {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 10px;
  list-style: none;
}
#footer_part3 {
  width: 15vw;
}
#footer_part3 h1 {
  margin-bottom: 2vw;
  font-size: 1vw;
  font-weight: 500;
}
#footer_part4 {
  width: 10vw;
}
#footer_part4 h1 {
  font-size: 1vw;
  font-weight: 500;
  margin-bottom: 2vw;
}
#footer_part4 h2 {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 10px;
}
.footer_s_2 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3vw;
}
#footer_s_2_p1 {
  width: 50%;
  display: flex;
  align-items: center;
  gap: 1vw;
}
#footer_s_2_p1 h3 span {
  color: #ffe345;
}
#footer_s_2_p1 select {
  background-color: transparent;
  color: #ffffff;
  padding: 10px 15px;
  border-radius: 5px;
}

#footer_s_2_p2 {
  display: flex;
  justify-content: space-between;
}
#footer_s_2_p2 h2 {
  font-size: 15px;
  font-weight: 500;
  margin-left: 10px;
}

@media (max-width: 1024px) {
  main {
    overflow-x: hidden;
  }
  nav ul li {
    font-size: 1.3vw;
  }

  #header_text h4 {
    font-size: 1.3vw;
  }
  #line-x {
    width: 60px;
  }
  #header_text h1 {
    font-size: 6.5vw;
  }
  #header_text h2 {
    font-size: 6.5vw;
  }

  #join_our_team {
    font-size: 1.2vw;
    margin-top: 1.5vw;
    font-weight: 500;
    padding: 1.2vw 2vw;
  }

  #pause {
    width: 2.5vw;
    height: 2.5vw;
  }
  /* header-end */
  /* .section_2-start */

  .section_2 {
    height: 70vh;
    padding-top: 7vw;
  }
  #section_2_patr_1 h4 {
    font-size: 1.3vw;
  }
  #section_2_patr_1 h1 {
    font-size: 3.5vw;
  }

  #section_2_patr_2 #brands_1 img,
  svg {
    width: 8vw;
  }

  #section_2_patr_3 h4 {
    font-size: 1.3vw;
    margin-bottom: 1vw;
    margin-top: 4vw;
  }
  #section_2_patr_3 h1 {
    font-size: 3vw;
    margin-bottom: 1.3vw;
  }
  #section_2_patr_3 p {
    font-size: 1vw;
  }
  #view_more {
    padding: 1vw 2vw;
    font-size: 1.2vw;
    font-weight: 500;
  }
  /* .section_2-end */
  /* .section_3-start */

  .section_3 {
    height: 25vw;
  }

  #card {
    width: 21vw;
    height: 100%;
  }

  #card_text {
    top: 60%;
    padding: 0 0.8vw;
  }
  #card_text #book_now {
    margin-top: 0.9vw;
  }
  #card_text #book_now button {
    padding: 0.9vw 1.2vw;
  }

  /* .section_3-end */
  /* .section_4-start */

  .section_4 {
    height: 100vh;
    padding: 12vw 10vw;
  }

  #section_4_part_1 #part_1 {
    height: 45%;
  }
  #section_4_part_1 #part_1 h4 {
    font-size: 1.3vw;
  }
  #section_4_part_1 #part_1 h1 {
    font-size: 3.5vw;
  }
  #section_4_part_1 #part_1 h2 {
    font-size: 1.8vw;
    margin-bottom: 0vw;
  }
  /* .section_4-end/ */
  /* .section_5-start */

  .section_5 h4 {
    font-size: 1vw;
  }
  .section_5 h1 {
    font-size: 3.5vw;
  }
  .section_5 h3 {
    font-size: 1.2vw;
  }

  /* .section_5-end */
  /* .section_6-start */
  .section_6 {
    width: 100%;
    height: 50vh;
  }
  #section_6_cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 1vw;
    overflow-y: hidden;
    overflow-x: auto;
  }
  #section_6_cards::-webkit-scrollbar {
    display: none;
  }

  #section_6_card {
    width: 28vw;
    height: 17vw;
    flex-shrink: 0;
  }
  #section_6_card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* .section_7-start  */
  .section_7 {
    width: 100%;
    height: 85vh;
  }

  #section_7_part_1 h4 {
    font-size: 1.3vw;
    margin-top: 6vw;
  }
  #section_7_part_1 h1 {
    font-size: 3.5vw;
  }
  #section_7_part_1_logs {
    height: 3vw;
  }
  #section_7_part_1_logs img {
    width: 6vw;
  }
}

@media (max-width: 768px) {
  nav {
    padding: 3vw 5vw;
  }
  nav img {
    display: inline-block;
    width: 1.5rem;
  }

  nav ul li {
    display: none;
  }
  /* header-start */

  header {
    height: 40vh;
  }

  #header_text {
    position: absolute;
    top: 35%;
    padding: 0 5vw;
    color: #fff;
  }

  #header_text h4 {
    font-size: 2vw;
    gap: 5px;
  }
  #line-x {
    height: 1px;
    width: 35px;
  }
  #header_text h1 {
    font-size: 10vw;
  }
  #header_text h2 {
    font-size: 10vw;
  }

  #join_our_team {
    padding: 2vw 3.5vw;
    border-radius: 50px;
    font-size: 2vw;
    margin-top: 2vw;
  }

  #header_footer {
    display: flex;
    padding: 0 5vw;
    top: 85%;
  }
  #pause {
    width: 4.5vw;
    height: 4.5vw;
  }
  #scroll_down {
    margin-top: 0vw;
  }
  #scroll_down h4 {
    font-size: 2.5vw;
  }
  #line-y {
    width: 30px;
    height: 1.5px;
    margin-left: 1vw;
  }
  /* header-end */
  /* .section_2-start */
  .section_2 {
    height: 65vh;
    padding-top: 5vw;
  }

  #section_2_patr_1 h4 {
    font-size: 2vw;
  }
  #section_2_patr_1 h1 {
    font-size: 6vw;
    margin-top: 5px;
  }

  #wrapers_brand {
    width: 40vw;
    margin-top: 0;
  }
  #section_2_patr_2 #wrapers_brand #brands_1 img {
    width: 10vw;
    margin-left: 1vw;
  }

  #wrapers_brand_2 {
    width: 55vw;
    margin-top: -1vw;
  }

  #brands_2 {
    padding: 0;
    display: inline-block;
    animation: scrollBrand2 30s linear infinite;
  }

  #section_2_patr_2 #wrapers_brand_2 #brands_2 img {
    width: 10vw;
  }

  #section_2_patr_2 #brands_1 #amazon {
    padding-top: 3px;
  }

  #section_2_patr_3 {
    padding: 0 5vw;
  }
  #section_2_patr_3 h4 {
    font-size: 2vw;
  }
  #section_2_patr_3 h1 {
    font-size: 3.5vw;
  }
  #section_2_patr_3 p {
    font-size: 1.5vw;
    margin-bottom: 1.5vw;
  }
  #view_more {
    padding: 1vw 2vw;
    border-radius: 50px;
    text-wrap: nowrap;
    background-color: #ffe345;
    font-size: 1.5vw;
  }
  /* .section_2-end */
  /* .section_3-start */
  .section_3 {
    height: 40vw;
  }
  .scroller #card {
    margin-right: 5px;
  }
  #card {
    width: 24vw;
    height: 34vw;
    border-radius: 3px;
  }

  #card_text {
    top: 55%;
    padding: 0 1vw;
  }
  #card_text p {
    font-size: 8px;
  }
  #card_text #book_now {
    margin-top: 2vw;
  }
  #card_text #book_now button {
    padding: 1vw 2vw;
    border-radius: 10px;
    font-size: 5px;
  }
  /* .section_3-end */
  /* .section_4-start  */
  .section_4 {
    height: 200vw;
    flex-direction: column;
  }
  #section_4_part_1 {
    width: 100%;
    height: 100vw;
  }
  #section_4_part_1 #part_1 {
    width: 100%;
  }
  #section_4_part_1 #part_1 h4 {
    font-size: 2vw;
  }
  #section_4_part_1 #part_1 h1 {
    font-size: 8vw;
  }
  #section_4_part_1 #part_1 h2 {
    font-size: 2vw;
  }
  #section_4_part_1 #part_2 {
    width: 100%;
    height: 110vh;
    margin-top: 5vh;
  }

  #section_4_part_1 #part_2 p {
    font-size: 3vw;
  }

  #section_4_part_1 #part_2 #learn_book button:nth-child(1) {
    padding: 3vw 4vw;
    box-shadow: 0px 0px 150px 10px rgba(0, 0, 0, 0.5);
  }
  #section_4_part_1 #part_2 #learn_book button:nth-child(2) {
    padding: 3vw 4vw;
    box-shadow: 0px 0px 150px 10px rgba(0, 0, 0, 0.5);
  }

  #section_4_part_2 {
    width: 100%;
    height: 50%;
  }
  #section_4_part_2 img {
    width: 100%;
    height: 100%;
    object-position: center;
    border-radius: 5px;
  }
  /* .section_4-end */
  /* .section_5-start */
  .section_5 {
    height: 30vh;
    padding: 5vw 10vw;
  }
  .section_5 h4 {
    font-size: 2vw;
  }
  .section_5 h1 {
    font-size: 4vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
  }
  .section_5 h3 {
    font-size: 2vw;
  }
  .section_5 button {
    padding: 2vw 3vw;
    border-radius: 20px;
    top: 70%;
  }
  /* .section_5-end */
  /* section_6-start */
  .section_6 {
    width: 100%;
    height: 30vh;
  }
  #section_6_card {
    width: 50vw;
    height: 30vw;
  }
  /* .section_6-end */
  /* .section_7-start */
  .section_7 {
    width: 100%;
    height: 80vh;
  }

  #section_7_part_1 {
    width: 100%;
    height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
  }
  #section_7_part_1 h4 {
    font-size: 2vw;
    margin-top: 0vw;
  }
  #section_7_part_1 h1 {
    font-size: 6vw;
    margin-bottom: 2vw;
  }
  #section_7_part_1_logos {
    height: 5vw;
  }
  #section_7_part_1_logos img {
    width: 10vw;
  }

  #section_7_part_2 {
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    overflow: hidden;
    position: relative;
    background: rgb(147, 140, 140);
    background: linear-gradient(
      0deg,
      rgba(216, 216, 216, 0.466) 78%,
      rgba(255, 255, 255, 1) 10%
    );
  }

  #section_7_part_2_cards {
    width: 60%;
    height: 55vh;
  }

  .swiper_buttons_2 button {
    display: none;
  }

  #section_7_part_2_card {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 3rem;
  }
  #section_7_part_2_card_s_2 img {
    width: 10vw;
  }
  
}
